body {
    background-color: rgb(35, 39, 39);
}
#main {
    position: relative;
}
#topnav {
    background-color: cyan;
    border-radius:30px 30px 30px 30px;
    display: flex;
    position: relative;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
#logo {
    font-family: Arial;
     color:white;
     /* float:right; */
     margin-left: 10px;
     font-size: 25px;
    background-color: crimson;
    border-radius: 30px 30px 30px 30px;
    padding-left:10px;
    padding-right: 10px;
    margin-top: 2px;
    position: absolute;
    left: 5px;
    font-weight: bold;
}
#pr_no {
    font-family: Arial;
     color:white;
     /* float:left; */
     font-size: 25px;
    background-color: rgb(50, 20, 220);
    border-radius: 30px 30px 30px 30px;
    padding-left:10px;
    padding-right: 10px;
    margin-top: 2px;
    margin-left: 10px;
    position: absolute;
    right: 5px;
    font-weight: bold;
}
#app_name {
    font-family: Arial;
     color:white;
     margin-left: 10px;
     font-size: 25px;
    background-color: rgb(20, 220, 53);
    border-radius: 30px 30px 30px 30px;
    padding-left:10px;
    padding-right: 10px;
    margin-top: 2px;

}
#content {
    position: absolute;
    width: 80%;
    height: 500px;
    background-color: black;
    border:chartreuse 5px solid;
    border-radius: 30px 30px 30px 30px;
    padding: 10px;
    left:10vw;
    top:10vh;
    display: flex;
    flex-direction: column;

}
.button {
    height: 6vh;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
    color: rgb(0, 247, 255);
    font: 20px Arial bold;
    border: lime solid 2px;
    border-radius: 30px 30px 30px 30px;
}
.button:hover, .button:focus {
    background-color: red;
}
.heading {
    height: fit-content;
    width: fit-content;
    padding-left: 30px;
    padding-right: 30px;
    padding:10px;
    background-color: transparent;
    color: rgb(255, 238, 0);
    font: 40px Arial bolder;
    border: lime solid 2px;
    border-radius: 30px 30px 30px 30px;
    align-self: center
}
.prompt {
    height: fit-content;
    width: fit-content;
    padding-left: 30px;
    padding-right: 30px;
    padding:10px;
    background-color: transparent;
    color: rgb(255, 0, 234);
    font: 20px Arial bolder;
    align-self: center
}
.input {
    padding:10px;
    color:mediumspringgreen;
    background-color: transparent;
    border: crimson solid 2px;
    text-decoration: none;
    width: 15vw;
    font: bold 12px Arial;
    margin-left: 10px;
    margin-right: 10px;
}
.result {
    height: fit-content;
    width: fit-content;
    padding-left: 30px;
    padding-right: 30px;
    padding:10px;
    background-color: rgb(78, 77, 77);
    color: rgb(0, 204, 255);
    font: 20px Arial bold;
    align-self: center;
    margin: 10px;
}
.resl_dis {
    background-color: lightseagreen;
    color:maroon
}
#footer {
    /* display: flex;
    flex-direction: column;
    border-radius:30px 30px 30px 30px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    position: absolute;
    bottom:0px; */

}
#CRight {
    font-family: Arial;
    color:rgb(255, 255, 255);
    /* float:left; */
    font-size: 25px;
   background-color: rgb(0, 0, 0);
   border-radius: 30px 30px 30px 30px;
   padding-left:10px;
   padding-right: 10px;
   margin-top: 2px;
   margin-left: 10px;
   position: absolute;
   right: 5px;
   font-weight: bold;
   bottom:0px;
}
#ft_red {
    font-family: Arial;
    color:rgb(8, 15, 110);
    /* float:right; */
    margin-left: 10px;
    font-size: 25px;
   background-color: rgb(67, 220, 20);
   border-radius: 30px 30px 30px 30px;
   padding-left:10px;
   padding-right: 10px;
   margin-top: 2px;
   position: absolute;
   left: 5px;
   font-weight: bold;
   bottom: 0px;
   text-decoration: none;
}